
/*Selector: */
/*
*{
    background-color:aqua;
}
h1 {
    background-color: green;
}
p {
    background-color: lightcoral;
}
ul{
    background-color: red;
}
li{
    background-color: blueviolet;
}
*/
#title{
    background-color: blueviolet;
}
.title{
    background-color: cyan;
}
.text,
.text-2,
.text-3,
.text-4{
    background-color: greenyellow;
}
/*
.title-2{
    background-color: hotpink;
}
*/
div .title-2{
    background-color: hotpink;
}
.text-2 +.title-2 {
    background-color:gray;

}
.text-2 ~ .text span{
    background-color: grey;
}
.container > p{
    background-color: tomato;
}
[href]{
    background-color: gray;
}
[href="https://www.youtube.com/"]
{
    background-color: darkorange;
}
[href^="color"]{
    background-color:greenyellow;
}
[href*="modo"]{
    background-color:green;
}
[href$="rojo"]{
    background-color:red;
}
[lang|="es"]{
    background-color:blue;
}